.konten{
    padding-left: 5%;
    padding-right: 5%;
}

.icon {
    filter: brightness(0) invert(1); /* Membuat semua ikon menjadi putih */
    transition: filter 0.3s ease, box-shadow 0.3s ease; /* Menambahkan transisi untuk filter dan box-shadow */
}

.nav-link {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    left: 0;
    background: #e91e63;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link.active {
    border-bottom: 2px solid #e91e63;
    padding-bottom: 4px;
}

.result {
    margin-top: 20px;
    font-size: 1.2em;
}
.result img {
    width: 250px; /* Lebar gambar */
    height: 250px; /* Tinggi gambar */
    object-fit: cover; /* Memastikan gambar terpotong dan memenuhi area */
    object-position: top; /* Menjaga bagian atas gambar tetap terlihat */
}

.bmi-description {
    font-size: 1.2rem; /* Ukuran teks default */
}

.small-text {
    font-size: 1.0em; /* Ukuran lebih kecil */
}

@media (max-width: 768px) {
    .bmi-description {
        font-size: 0.9rem; /* Ukuran teks yang lebih kecil untuk layar kecil */
        margin-top: 1%;
    }
    .small-text {
        font-size: 0.8em; /* Ukuran lebih kecil */
    }
    .result img {
        width: 150px; /* Lebar gambar */
        height: 150px; /* Tinggi gambar */
        object-fit: cover; /* Memastikan gambar terpotong dan memenuhi area */
        object-position: top; /* Menjaga bagian atas gambar tetap terlihat */
    }
    
}
